header.masthead { background:  url(masthead.jpg) no-repeat; background-size: cover; }
.masthead.resume { background-position: center right; }

.rounded-circle { border-radius: 0!important; }
.img-fluid { width: 100%; }

.above-header-content { margin: 150px 0 0 0;  }
@media screen and (max-width: 994px) { /* responsive snap */
	.above-header-content { margin: 70px 0 0 0; }
}

.container:not(.content), .col-lg-6 { padding: 0px; }
.row div, .container.video-bgd, .video-container { margin-top: 20px; }

.video-bgd { background-color: #000; }
/* https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed */
.video-container { position: relative; width: 100%; height: 0; padding-bottom: 56.25%; margin-bottom: 20px; }
.video-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
